*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif; /*temp*/
}

.frontPage{
    margin: 0px;
    height: 100vh;
    background-color: #2098D1;
}

.wrapper{
    width: 60%;
    margin: 0em auto;
    color: #FFFFFF;
}

nav{
    padding-top: 3em;
    margin-right: 6em;
    text-align: right;   
}

nav ul li{
    display: inline;
}

nav > ul > li > a {
    color: #FFFFFF;
    padding: 0.5em 0.3em;
    text-decoration: none;
    line-height: 2em;
    font-size: 24px;
}

nav > ul > li > a:hover{
    color: #ea6969;
}

a:visited{
    color:#FFFFFF;
}

.titlePage{ 
    margin-top: 30%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.titlePage > h1{
    font-size: 70px;
    margin: 0.5em;
}

.titlePage > h2{
    font-size: 48px;
    margin: 0.5em;
}

#git{    
    margin-top: 2em;
    font-size: 5em;
    padding: 0.3em;
    color:#FFFFFF
}

a>#git:hover{
    color: #ea6969;
}

#linkedin{
    margin-top: 2em;    
    font-size: 5em;
    padding:0.3em;
    color:#FFFFFF
}

a>#linkedin:hover{
    color: #ea6969;
}

#email{
    margin-top: 2em;    
    font-size: 5em;
    padding:0.3em;
    color:#FFFFFF
}

a>#email:hover{
    color: #ea6969;
}

#arrow {
   display: block;
   margin-top: 1.5em;
   font-size: 6em;
   color:#FFFFFF;
}

.projectWrapper{
    width:60%;
    margin:0 auto;
}

.projectTitle{
    font-size: 60px;
    text-align: center;
    padding: 1.2em;
    color: #383636;
}

.galleryDiv {
    margin: 3em auto 2em;
    text-align: center;
    height: 440px;
    width: 440px;
}

.gallery { /*Controls size of images */
    height: 440px;
    width: 440px;
}

.calcTitle{
    font-size: 45px;   
    text-align: center;    
    color: #2098D1;;
}

.workAbout{
    width: 60%;
    font-size: 24px;
    text-align: center;
    margin: 2em auto;
    color: #383636;
}

.tryButton{
    margin: 0em 1em 2em 42.5em;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #2098D1;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.tryButton:hover{
    background-color: #ea6969;
}

.sourceButton{
    height: 20px;
    margin: 0em;
    font-size: 16px;
    padding: 11px 20px;
    background-color: #2098D1;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.sourceButton:hover {
    background-color: #ea6969;
}

.workTitle{
    margin-top: 2em;
    font-size: 45px;
    text-align: center;
     color: #2098D1;;
}

.contact{
    background-color: #2098D1;
}

.contactWrapper{
    width: 60%;
    margin:0 auto;
}

.about{
    width: 50%;
    padding: 10px;
    display: inline-block;
}

.aboutTitle{
    font-size: 60px;
    color:#FFFFFF;
    padding: 70px 0px 30px 0px;
    text-align: center;
}

.aboutInfo{
    font-size: 30px;
    color:#FFFFFF;
    text-align: center;
    padding: 5px 10px 20px;   
}

.icons{
    font-size: 50px;
    color:#FFFFFF;
    display: inline-block;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.skillIcon {
    font-size: 50px;
    padding: 10px;
}

.contactStub{
    width: 50%;
    float: right;
    padding: 10px;
}

.contactTitle{
    font-size: 60px;
    color:#FFFFFF;
    padding: 70px 0px 30px 0px;
    text-align: center;
}

.contactIcon{
    font-size: 2.5em;
    color:#FFFFFF;
    margin-top: 0.2em;
    margin-left: 1.7em;
    margin-right: 10px;
    float:left;
}

.contactIcon:hover{
    color: #ea6969;
}

.linkContact{
    text-decoration: none;
}

.emailSpan{
    font-size: 30px;
    color:#FFFFFF;
}

.emailSpan:hover{
    text-decoration: underline;
}

.emailContact{
    font-size: 30px;
    color:#FFFFFF;
    text-align: left;
    padding: 17px;
}


@media screen and (max-width:2100px) {
.contactIcon{
    margin-left: 0em;
}


}

@media screen and (max-width:1420px) {
.skillIcon {
    padding: 0px;
}
}

@media screen and (max-width:1200px) {
.wrapper{
    width: 80%;
}

.projectWrapper{
    width:80%;
}

.workAbout{
    width: 80%;
}
}

@media screen and (max-width:992px) {
.contactWrapper{
    width: 100%;
}

.about{
    width: 80%;
    padding: 10px;
    display: block;
    margin:0 auto;
}

.contactStub{
    width: 80%;
    padding: 10px;
    display: block;
    margin:0 auto;
}
}


@media screen and (max-width:320px) {
.wrapper{
    width: 100%;
    margin: 0em auto;
}

nav{
    width: 100%;
    padding-top: 30px; 
    text-align: center;
}

.titlePage{ 
    margin-top: 30%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.titlePage > h1{
    font-size: 70px;
    margin: 35px;
}

.titlePage > h2{
    font-size: 48px;
    margin: 24px;
}

#git{    
    margin-top: 60px;
    font-size: 50px;
    padding: 15px;
}

#linkedin{
    margin-top: 50px;    
    font-size: 60px;
    padding: 15px;
}


#email{
    margin-top: 50px;    
    font-size: 60px;
    padding: 15px;   
}

#arrow {
   margin-top: 40vh; /* Check this */
   font-size: 80px;
}

.projectWrapper{
    width:100%;
    margin:0 auto;
}

.projectTitle{
    font-size: 60px;
    text-align: center;
    padding: 60px 0px;
    color: #383636;
}

.galleryDiv {
    margin: 32px auto 32px;
    text-align: center;
    height: 300px;
    width: 300px;
}

.gallery { /*Controls size of images */
    height: 300px;
    width: 300px;
}

.workAbout{
    width: 90%;
    font-size: 24px;
    text-align: center;
    margin: 2em auto;
    color: #383636;
}

.contact{
    background-color: #2098D1;
}

/*.contactWrapper{
    width: 100%;
    margin:0 auto;
}

.about{
    width: 90%;
}*/

.contactWrapper{
    width: 90%;
}

.about{
    width: 40%;
}


.aboutInfo{
    font-size: 30px;
    color:#FFFFFF;
    text-align: center;
    padding: 5px 0px 20px;   
}


.contactStub{
    width: 90%;
    float: right;
    padding: 10px;
}

.contactTitle{
    font-size: 60px;
    color:#FFFFFF;
    padding: 70px 0px 30px 0px;
    text-align: center;
}

.contactIcon{
    font-size: 2.5em;
    color:#FFFFFF;
    margin-top: 0.2em;
    margin-left: 1.7em;
    margin-right: 10px;
    float:left;
}

.contactIcon:hover{
    color: #ea6969;
}

.linkContact{
    text-decoration: none;
}

.emailSpan{
    font-size: 30px;
    color:#FFFFFF;
}

.emailSpan:hover{
    text-decoration: underline;
}

.emailContact{
    font-size: 30px;
    color:#FFFFFF;
    text-align: left;
    padding: 17px;
}


}